<!DOCTYPE html>
<head>

</head>
<body>
<%=link_to "novi_radnik", new_worker_path(); %>
<%=link_to "novi_radnik", new_worker_path(); %>
<%=link_to "novi_radnik", new_worker_path(); %>
 
</body>
